.container-fluid{
    background-color: #1D598C;
}
  
.white{
  color: white;
}
  .bleu{
    color: rgb(8, 8, 45);
  }
  .right{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
   
  }